<h4 class="ms-5 p-2 mt-5 text-white">{{data}}</h4>

<div class="container w-50 border-white text-center p-5 mt-5" style="color: aliceblue;">
    <h1>Sign In To Your Bank Account</h1>
    <form action="" (ngSubmit)="login()">
        <div class="p-3 mt-2">
            <input [(ngModel)]="acno" type="text" id="acid" name="acnum1" class="form-control" [placeholder]="inputplaceholder">
        </div>
        <div class="p-3 mt-2">
            <input [(ngModel)]="psw" type="password" id="Psw1" name="pswrd1" class="form-control" placeholder="Enter the Password">
        </div>
        <div>
            <button type="submit"  class="btn btn-outline-success">Login</button>
        </div>

        <div class="text-center">
            <strong>Not Registered ? </strong><a style="color: red;" routerLink="register">Register</a>
        </div>

    </form>

</div>