

<div class="pt-3 pe-4 text-end">
    <button class="btn btn-danger" (click)="deleteParent()">Delet Account</button>
     <button (click)="logout()" class="btn btn-success ms-2">Logout</button>
</div>

<h1>welcome {{user}}</h1>


<div [ngClass]="acno ?'style': '' " class=" mt-3 p-2 container text-center ms-3 w-25 rounded-pill" style="background-color: rgba(41, 37, 37, 0.63);">
    <a style="color: rgb(161, 216, 72);" routerLink="/transactions">View transaction history</a>
</div>

<app-deletconform [item]="acno"></app-deletconform>




<div class="row mb-5 p-5 container">
<div [ngClass]="acno ?'style': '' " class="col-6 text-center container">
    
    <div class="text-center container  w-75 p-5 mt-2" style="background-color: rgba(82, 105, 98, 0.267);">
        <h1>DEPOSIT</h1>
        <form action="" [formGroup]="depositForm">
        
            <div class="p-3 mt-2">
                <input formControlName="acno" type="text"  id="acid" name="acnum1" class="form-control" placeholder="Account Number">
            </div>
            <div class="p-3 mt-2">
                <input formControlName="psw" type="password"  id="psw1" name="password1" class="form-control" placeholder="Enter the Password">
            </div>
        
            <div class="p-3 mt-2">
                <input formControlName="amnt" type="text"  id="amouid" name="amnt1" class="form-control" placeholder="Amount">
            </div>
                     
            <div>
                <button type="button" (click)="deposit()" class="btn btn-outline-warning">Deposit</button>
            </div>
        </form>
    </div>
</div>

    <div [ngClass]="acno ?'style': '' " class="col-6 text-center container">
        
        <div class="text-center container  w-75 p-5 mt-2" style="background-color: rgba(82, 105, 98, 0.267);">
            <h1>WITHDRAW </h1>
            <form action="" [formGroup]="withdrawForm">
            
                <div class="p-3 mt-2">
                    <input formControlName="acno1" type="text" id="acid1" name="acnum2" class="form-control" placeholder="Account Number">
                </div>
            
                <div class="p-3 mt-2">
                    <input formControlName="psw1" type="password" id="Psw2" name="paswrd2" class="form-control" placeholder="Enter the Password">
                </div>
                      
                <div class="p-3 mt-2">
                    <input formControlName="amnt1" type="text" id="amouid1"  name="amnt2" class="form-control" placeholder="Amount">
                </div>
            
                <div>
                    <button type="button" (click)="withdraw()" class="btn btn-outline-warning">Withdraw</button>
                </div>
            
            </form>
        </div>
    
    </div> 
     
<!-- </div> -->