/* You can add global styles to this file, and also import other style files */
.coverbg{
    background-image: url(./assets/alexander-grey--8a5eJ1-mmQ-unsplash.jpg);
    background-repeat:no-repeat;
    background-position: center top;
    background-size: cover;
    height: 100vh;  /*  -------- window height*/

    
}
.style{
    opacity: 0;
}

@media (max-width: 767px) { 
    .coverbg{
        height: auto;  /*  -------- window height*/
    
        
    }
 }