/* You can add global styles to this file, and also import other style files */
.coverbg{
    background-image: url(https://i.postimg.cc/tJLb3tSc/alexander-grey-8a5e-J1-mm-Q-unsplash.jpg);
    background-repeat:no-repeat;
    background-position: center top;
    background-size: cover;
    height: 100vh;  
 
}

@media (max-width: 767px) { 
    .coverbg{
        height: auto;  
       
    }
 }
 
 .style{
    opacity: 0;
}