<div class="container w-sm-50 border-white text-center p-5 mt-5" style="color: rgb(213, 217, 221);">
    <h1>Sign Up To  Bank </h1>
    <!-- model form creation -->
    <form [formGroup]="registerForm" action="">


        <div class="p-3 mt-2">

<!-- remove ng model inside the input -->
<!-- then added registerForm keys -->
            <input formControlName="uname" type="text" id="unamid" name="usern1" class="form-control" placeholder="User Name">
        </div>

        <div *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched">
            <p style="color: rgb(241, 9, 9);">Accept only Characters</p>
        </div>

        <div class="p-3 mt-2">
            <input formControlName="acno" type="text" id="acid" name="acnum1" class="form-control" placeholder="Account Number">
        </div>

        <div *ngIf="this.registerForm.get('acno')?.errors && this.registerForm.get('acno')?.touched">
            <p style="color: rgb(241, 9, 9);">Accept only Numbers</p>
        </div>

        <div class="p-3 mt-2">
            <input formControlName="psw" type="password" id="Psw1" name="paswrd1" class="form-control" placeholder="Enter the Password">
        </div>
        <div *ngIf="this.registerForm.get('psw')?.errors && this.registerForm.get('psw')?.touched">
            <p style="color: rgb(241, 9, 9);">Accept only Characters & Numbers</p>
        </div>           
        <div>
            <button type="button" (click)="register()" class="btn btn-info">register</button>
        </div>


    </form>

</div>
